body {

	padding-top:5%;
    padding-left:20%;
	font-family: "Arial", serif;

}

.header h1 {

	color: white;
	font-family: 'Raleway', sans-serif;
	background: coral;
	border: inset blue;
	padding: 20px 0px;
	margin: 40px;
}

a {
	color: blue;
}