body {

	padding-top: 5%;
    padding-left: 20%;
	font-family: "Arial", serif;

}

h1 {

	color: white;
	background: red;
	border: 3px solid blue;
	padding: 20px 0px;
	margin: 40px;
}

a {
	color: blue;
}