.navItem {
  width: 100%;
}

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.linkText {
  display: block;
  color: var(--highlight-color);
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.selectedLinkText {
  filter: grayscale(0%) opacity(0.7);
}

.linkText:hover {
  filter: grayscale(0%) opacity(1);
}

.mark {
  width: 1rem;
  height: 1.2rem;
  border-left: 0.2rem solid var(--highlight-color);
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
}

.subItems {
  width: 9.5rem;
  list-style: none;
  margin: 0;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100;
  border-left: 0.2rem solid var(--nav-separator-color);
}

.subnavContent {
  overflow: hidden;
  transition: height var(--transition-speed) ease;
}

.collapsed {
  height: 0
}

.expanded {
  height: 100
}
