:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --header-color: #F5F5F5;
  --highlight-color: #9932CC;
  --scrollbar-color: #A9A9A9;
  --nav-separator-color: #E5E5E5;
  --transition-speed: 200ms;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvectica Neue, sans-sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: black;
  background-color: white;
}

body::-webkit-scrollbar {
  width: 0.35rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

/* small screens */
@media only screen and (max-width: 600px) {
  main {
    margin-left: 0rem;
    padding-top: 1rem;
  }
}

/* large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 13rem;
    padding: 1rem;
    padding-top: 0rem;
  }
}

main {

}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 200ms;
}

a:hover {
  text-decoration: underline;
  color: var(--highlight-color);
}

img {
  max-width: 100%;
  display: block;
}
